icn ICON "turtlico.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "turtlico"
      VALUE "LegalCopyright", "Copyright (c) Matyas Hronek"
      VALUE "OriginalFilename", "turtlico.exe"
      VALUE "ProductName", "Turtlico"
    END
  END
END
